@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "./variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: $normal-font-size;
    background-color: $body-color;
}


h1,h2,h3{
    font-weight: 700;
    color: $title-color;
}

h1,h2,h3,p{
    line-height: 140%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}